coco_val_sample-RANDOM/annotations_trainval2017.zip
.env
coco_val_sample-RANDOM/*
# coco_val_sample-SPECIFIC/*
.gitignore

.venv/
uv.lock

*.jsonl
*.log
# Large files
annotations/instances_train2017.json
annotations_trainval2017.zip
annotations/person_keypoints_train2017.json
annotations/captions_train2017.json
